@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(93, 96, 99);
    background-color: #f8efbe;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color:#9d5732;
}

.style-header {
    text-align: center;
    background-color: #ff9a36;
    border: 1px solid rgb(214, 217, 220);
    border-radius: 10px;
    width: 90%;
    height: 130px;
    margin: 30px auto;
    padding: 40px;
    color: #b70040;
    font-size: 20px;
    font-family: "Helvetica Neue";
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.style-header h1 {
    font-family: 'MedievalSharp', cursive;
    color: #b70040;
}

.style-header img {
    width: 200px;
}

main {
    font-size: 20px;
}

.form-row {
    border: 20px;
    display: flex;
    padding: 15px;
    background-color: #f1d07a;

}

.line-content {
    border: 2px;
    

}

.form-row2 {
    border: 2px;
    display: flex;
    justify-content: space-around;
    height: 70px;
    padding: 25px;
    background-color: #f1d07a;
}

.line-magic {
    /* border: red solid 30px; */
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #eae7af;
}

.legacy-form-skills {
    border: #ffb107 solid 2px;
    border-radius: 6px;
    padding: 10px;
    width:150px;
    background-color: #f1d07a;;
}

.legacy-form-skills input {
    display: block;
    line-height: 2;
    
}

.skills-section {
    line-height: 25px;
}


textarea {
    resize: none;
    width: 100%;
    height: 200px;
    margin-top: 15px;
    background-color: #fcf9c1;
    border: #920a08 solid 1px;
    border-radius: 3px
}

option {
    background-color:  #920a08 solid 1px;
    border-radius: 1px;
}

input {
    background-color: #fcf9c1;
    border: #920a08 solid 1px;
    border-radius: 3px;
}

.spell-attacks input {
    /* line-height: 20px; */
    height: 30px;
    width: 100px;
    display: flex;
    
}

button {
    padding: 15px;
    background-color: #920a08;
    color: white;
    border: none;
    margin-left: 70px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    font-size: 60px;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
}

footer ul li {
    margin-right: 90px;
    list-style: none;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li i {
    color: #d33d26;
    font-size: 25px;
}

footer p {
    color: #a54530;
    text-align: center;
    font-size: 20px
}

#antecedent , #antecedent-id {
    margin-left: 35px;
}

#full-name , #fullname-id {
    margin-left: 75px;
}

.save-email {
    display:flex;
    /* border: black solid 2px; */
    align-items: baseline;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    font-size: 25px;
    padding: 30px;
    background-color: #f5e9aa;
}

.save-email input {
    width: 300px;
    height: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align:center;
}
